<h1>Total order Price : {{totalOrderPrice}}</h1>

<h2>Selected Cat is : {{selectedCatId}}</h2>

<div class="mb-3">
    <select class="form-select form-select-lg" name="" id="" [(ngModel)] ="selectedCatId">
        <option *ngFor="let cat of categories" [value]="cat.id">{{cat.name}}</option>
    </select>
</div>

<button (click)="change()">Change Category</button>

<div class="row row-cols-1 row-cols-md-4 g-4">

<div class="card-group col" *ngFor="let prd of products">
  <div class="card">
                            <!-- img property bindeing -->
    <img class="card-img-top" [src]="prd.imgURL" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{prd.name}}</h5>
      <p class="card-text">Price : {{prd.price}}</p>
      <p class="card-text">Quantity : {{prd.quantity}}</p>
      <!-- template variable , refrence (#countInput عشان تجيب قيمة ال input--> 
      <input type="number" #countInput/>
      <button class="btn btn-primary" (click)="buy(countInput.value, prd.price)">Buy</button>
    </div>
  </div>

 
</div>
</div>

